{% extends 'base.html' %}
{% load static %}

<!-- define title for this page-->
{% block title %} Login {% endblock %}

<!-- start contents -->
{% block content %}
<br>
<div class = "text-center">
    <img src = "{% static 'images/drug-store-icon.png' %}" width = "200px" alt = "Drug Store Manager">
    {% if message %}
      <div class = "alert alert-danger"> {{ message }}</div>

    {% endif %}
</div>
<div class = "panel">
        
    <h2 class = "text-center"> Registered User Login </h2>
    <br>
    <form action = "" method = "post">
        {% csrf_token %}

        <div class = "form-group">
            {{ form.username }}
        </div>
        
        <br>
        
        <div class = "form-group">
            {{ form.password}}
        </div>

        <br>

        <button type = "submit" class = "btn btn-primary"> Login </button>

    </form>
  
  <hr>
  New to system? <a href = "{% url 'accounts:signup' %}"> Signup here </a>
</div>

{% endblock %}
