{% extends 'base.html' %}
{% load static %}

<!-- define title for this page-->
{% block title %} Register {% endblock %}

<!-- start contents -->
{% block content %}

<br>
<div class = "text-center">
    <img src = "{% static 'images/drug-store-icon.png' %}" width = "200px" alt = "Drug Store Manager">
</div>

<div class = "panel">
 
    <h2 class = "text-center"> New User Registration </h2>
    <br>
    <form action = "" method = "post">
        {% csrf_token %}

        <div class = "form-group">
            {{ form.first_name }}
        </div>
        
        <br>
        
        <div class = "form-group">
            {{ form.last_name}}
        </div>

        <br>

        <div class = "form-group">
            {{ form.email}}
        </div>

        <br>

        <div class = "form-group">
            {{ form.username}}
        </div>

        <br>

        <div class = "form-group">
            {{ form.password}}
        </div>

        <br>

        <div class = "form-group">
            {{ form.password2}}
        </div>

        <br>

        <button type = "submit" class = "btn btn-primary"> Signup </button>

    </form>
  

</div>

{% endblock %}
